h1(class="purple-writing title") WELCOME TO THE FUTURE SITE OF JOURNEY ENTERTAINMENT GROUP

//- h3(class="purple-writing subtitle") While this site is being built, you can contact Jackie:

//- ul(class="contact")
//- 	li
//- 		a(class="phone purple-writing" href="tel: 3312221732") Click Here to Call Jackie's Cell   331-222-1732

//- 	li
//- 		a(class="email purple-writing" href="mailto: jlane1206@gmail.com" target="_blank") Click Here to Email Jackie